.loginbody {
    font-family: Arial, sans-serif;
    background-color: #fff;
    display: flex;
    float: right;
    justify-content: center;
    align-items: center;
    height: 95vh;
    margin: 0;
}

.container {
    width: 30vw;
    height: 90vh;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #ecf7da;
    margin: 0 auto;
}

.error {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}

img{
    height: 30%;
    width: 100%;
}

h2 {
    text-align: center;
}

input[type="text"], input[type="password"] {
    width: 93%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 49%;
    padding: 10px;
    background-color: #97d197;
    color: white;
    border: none;
    border-radius: 40px;
    cursor: pointer;
}

button:hover {
    background-color: #6a8a6a;
}

a {
    color: black;
    display: inline-block;
    width: 49%;
    text-decoration: none;
&:hover, &:active {
    color: rgb(95, 60, 60);
    }

}