.chat-container {
    width: 30vw;
    height: 80vh;
    border: 2px solid #000000;
    border-radius: 30px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.chat-header {
    background-color: #424242;
    color: #fff;
    text-align: center;
    border-bottom: 2px solid #000000;
    padding: 25px;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 1.5px;
}

.chat-box {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 20px;
    background: #fffce6;
    color: #333;
    overflow-y: auto;
}

.chat-message {
    margin: 8px 0;
    padding: 12px 18px;
    border-radius: 12px;
    max-width: 75%;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

.user-message {
    float: right;
    margin-bottom: 5px;
    padding: 5px;
    padding-left: 20px;
    padding-right: 30px;
    border-radius: 5px;
    background-color: #81C784;
    align-self: flex-end;
}

.bot-message {
    float: left;
    margin-bottom: 5px;
    padding: 5px;
    padding-left: 20px;
    padding-right: 30px;
    border-radius: 5px;
    background-color: #C5E1A5;
    align-self: flex-start;
}

.chat-input-container {
    display: flex;
    flex-direction: row;
    border-top: 2px solid #000000;
    background-color: #4f7531;
}

.chat-input {
    flex: 1;
    border-radius: 0 0 0 0;
    border: none;
    width: 20vw;
    outline: none;
    font-size: auto;
    background-color: #f1f8e9;
}

.send-btn, .voice-btn, .attach-btn {
    border-radius: 0 0 0 0;
    background-color: #4f7531;
    width: 4vw;
    cursor: pointer;
}

.send-btn:hover, .voice-btn:hover, .attach-btn:hover {
    background-color: #416129;
}

.file-input {
    display: none;
}
